<button mat-flat-button routerLink="/areas/crear">Crear nuevo</button>

<app-listado-generico [listado]="areas">
  <ng-container contenido>
    <table mat-table [dataSource]="areas">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let area">{{area.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let area">
          <button mat-button color="primary" [routerLink]="['/areas/editar', area.id]">Editar</button>
          <button mat-button color="warn" (click)="eliminar(area.id)">Borrar</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
    </table>
  </ng-container>
</app-listado-generico>