<mat-toolbar>

  <span>
    <a mat-button routerLink=""><mat-icon>menu</mat-icon>Dashboard</a>
  </span>
  <div>
    <a mat-button routerLink="areas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Areas</a>
  </div>
  <div>
    <a mat-button routerLink="areas/listado" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Areas
      con (indice)</a>
  </div>
  <div>
    <a mat-button routerLink="tiposTelefono" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Tipos
      Telefono</a>
  </div>
  <div>
    <a mat-button routerLink="tiposTelefono/listado" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Tipos
      Telefono (indice)</a>
  </div>

</mat-toolbar>