<mat-toolbar>

  <span>
    <a mat-button routerLink=""><mat-icon>menu</mat-icon>Dashboard</a>
  </span>
  <div>
    <a mat-button routerLink="area" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Areas</a>
  </div>
  <div>
    <a mat-button routerLink="area/listado" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Areas
      con (indice)</a>
  </div>
  <div>
    <a mat-button routerLink="rol" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Roles</a>
  </div>
  <div>
    <a mat-button routerLink="rol/listado" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Roles (indice)</a>
  </div>

</mat-toolbar>