<mat-toolbar>

  <div>
    <a mat-button routerLink="rol" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Roles</a>
  </div>
  <div>
    <a mat-button routerLink="rol/listado" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Rol
      con (indice)</a>
  </div>
  <div>
    <a mat-button routerLink="empresa" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Empresas</a>
  </div>
  <div>
    <a mat-button routerLink="empresa/listado" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Empresas (indice)</a>
  </div>

</mat-toolbar>