<h2>{{titulo}}</h2>

<form (submit)="guardarCambios()" [formGroup]="form">

  <mat-form-field appearence="outline">
    <mat-label>Nombre</mat-label>
    <input matInput [formControl]="form.controls.nombre">
    <mat-error>{{obtenerErrorCampoNombre()}}</mat-error>
  </mat-form-field>

  <div class="contenedor-botones">
    <button type="submit" mat-flat-button type="text" [disabled]="form.invalid">Guardar cambios</button>
    <a mat-stroked-button routerLink="/areas">Cancelar</a>
  </div>
</form>