<p>Listado de areas:</p>

<table mat-table [dataSource]="areas()" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let area">{{area.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let area">
      <a mat-flat-button routerLink="/areas/editar">Editar</a>
      <button mat-flat-button color="warn">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
  <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
</table>